<!DOCTYPE html>
<html lang='en' data-ng-app="assembla">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Assembla Extension">
    <meta name="author" content="Eric Griffith">

    <title>Assembla API Extension</title>

	<!-- Cascading Style Sheets -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href="assembla.css" rel="stylesheet" media="screen">
  </head>
  <body data-ng-controller="assemblaController as vm">
		<div pageslide ps-side="left" ps-open="vm.showTools" ps-auto-close="true" ps-class="panel"  style="background-color:whitesmoke">
			<div class="container-fluid">
				<div class="row">
					<br/>
					<button type="button" class="close pull-right" ng-click="vm.showTools=!vm.showTools">
						<span>&times;&nbsp;&nbsp;</span>
					</button>
					<div class="col-md-12 text-center">
						<h2>Tools</h2>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button class="btn btn-default" ng-click="vm.resetCounts()">Update Ticket Counts</button>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="input-group">
							<input type="date" class="form-control" ng-model="vm.downloadTicketsSince">
							<div class="input-group-btn">
								<button class="btn btn-default" ng-click="vm.getUpdatedTickets(vm.downloadTicketsSince)">
									<span class="fa fa-download"></span>
								</button>
							</div>
						</div>
					</div>
				</div>				
				<br/>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button class="btn btn-default" title="Update the selected reference entities from the API"
								ng-click="vm.updateRelatedEntities(vm.entityUpdateObj)">
							Update References
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<span>
							<span class="fa fa-spinner invisible" ng-if="!vm.entityUpdateObj.spaces || vm.entityUpdateObj.spaces===true"></span>
							<span class="fa fa-spinner fa-spin" ng-if="vm.entityUpdateObj.spaces==vm._fetchingText"></span>
							<span class="fa fa-check text-success" ng-if="vm.entityUpdateObj.spaces==vm._successText"></span>
							<span class="fa fa-exclamation text-danger" ng-if="vm.entityUpdateObj.spaces==vm._failureText"></span>
						</span>
						<input type='checkbox' ng-model="vm.entityUpdateObj.spaces" ng-init="true">
						Spaces
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<span>
							<span class="fa fa-spinner invisible" ng-if="!vm.entityUpdateObj.milestones || vm.entityUpdateObj.milestones===true"></span>
							<span class="fa fa-spinner fa-spin" ng-if="vm.entityUpdateObj.milestones==vm._fetchingText"></span>
							<span class="fa fa-check text-success" ng-if="vm.entityUpdateObj.milestones==vm._successText"></span>
							<span class="fa fa-exclamation text-danger" ng-if="vm.entityUpdateObj.milestones==vm._failureText"></span>
						</span>
						<input type='checkbox' ng-model="vm.entityUpdateObj.milestones" ng-init="true">
						Milestones
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<span>
							<span class="fa fa-spinner invisible" ng-if="!vm.entityUpdateObj.users || vm.entityUpdateObj.users===true"></span>
							<span class="fa fa-spinner fa-spin" ng-if="vm.entityUpdateObj.users==vm._fetchingText"></span>
							<span class="fa fa-check text-success" ng-if="vm.entityUpdateObj.users==vm._successText"></span>
							<span class="fa fa-exclamation text-danger" ng-if="vm.entityUpdateObj.users==vm._failureText"></span>
						</span>
						<input type='checkbox' ng-model="vm.entityUpdateObj.users" ng-init="true">
						Users
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<span>
							<span class="fa fa-spinner invisible" ng-if="!vm.entityUpdateObj.customFields || vm.entityUpdateObj.customFields===true"></span>
							<span class="fa fa-spinner fa-spin" ng-if="vm.entityUpdateObj.customFields==vm._fetchingText"></span>
							<span class="fa fa-check text-success" ng-if="vm.entityUpdateObj.customFields==vm._successText"></span>
							<span class="fa fa-exclamation text-danger" ng-if="vm.entityUpdateObj.customFields==vm._failureText"></span>
						</span>
						<input type='checkbox' ng-model="vm.entityUpdateObj.customFields" ng-init="true">
						Custom Fields
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<span>
							<span class="fa fa-spinner invisible" ng-if="!vm.entityUpdateObj.statuses || vm.entityUpdateObj.statuses===true"></span>
							<span class="fa fa-spinner fa-spin" ng-if="vm.entityUpdateObj.statuses==vm._fetchingText"></span>
							<span class="fa fa-check text-success" ng-if="vm.entityUpdateObj.statuses==vm._successText"></span>
							<span class="fa fa-exclamation text-danger" ng-if="vm.entityUpdateObj.statuses==vm._failureText"></span>
						</span>
						<input type='checkbox' ng-model="vm.entityUpdateObj.statuses" ng-init="true">
						Statuses
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<span>
							<span class="fa fa-spinner invisible" ng-if="!vm.entityUpdateObj.tags || vm.entityUpdateObj.tags===true"></span>
							<span class="fa fa-spinner fa-spin" ng-if="vm.entityUpdateObj.tags==vm._fetchingText"></span>
							<span class="fa fa-check text-success" ng-if="vm.entityUpdateObj.tags==vm._successText"></span>
							<span class="fa fa-exclamation text-danger" ng-if="vm.entityUpdateObj.tags==vm._failureText"></span>
						</span>
						<input type='checkbox' ng-model="vm.entityUpdateObj.tags" ng-init="true">
						Tags
					</div>
				</div>
				
			</div>
		</div>
    <div class="container">
			<div class="row">
				<div id="main" class="col-md-12">
					<div class="row" id="heading">
						<div class="col-md-6">
							<h1>{{vm.data.selectedSpace.name}}</h1>
						</div>
						<div class="col-md-offset-5 col-md-1" style="vertical-align:middle;">
							<br/>
							<button class="btn btn-default" ng-click="vm.showTools=!vm.showTools">
								<span class="hover-icon fa fa-wrench text-muted"></span>
							</button>
						</div>
					</div>
					<div class='row' id='paginationRow'>
						<div class="col-md-2" id="perPage">
							<div class="input-group">
								<input type='number' class="form-control" ng-model-options="{debounce:1000}" ng-change="vm.optionChange()" ng-model="vm.options.itemsPerPage" />
								<span class='input-group-addon'>T/p</span>
							</div>
						</div>
						<div class="col-md-7" id="pagination">
							<pagination total-items="filteredTickets.length" ng-model="vm.page" max-size='8'
													boundary-links="true" items-per-page="vm.options.itemsPerPage" rotate="true">
							</pagination>
						</div>
						<div class="col-md-3" id="ticketCount">
							ticket count: 
							<span data-ng-if="filteredTickets.length!=vm.data.tickets.length">
								<span class="badge">{{filteredTickets.length}}</span> 
								of 
							</span>
							<span class="badge">{{vm.data.tickets.length}}</span>
						</div>
					</div>
					<div ng-include="!vm.selectedTickets || vm.selectedTickets.length==0 
															? 'assembla_filterDiv.html'
															: 'assembla_updateDiv.html'"></div>
					<div class="row" id="ticketstable" >
						<div class="col-md-12">
							<table class="table" ng-hide="vm.data.tickets.length==0">
								<tbody>
									<tr>
										<th></th>
										<th ng-click="vm.sort('number')">Number <span class="text-muted" ng-class="vm.sortClasses['number']"</th>
										<th></th>
										<th>Summary</th>
										<th ng-click="vm.sort('status')">Status <span class="text-muted" ng-class="vm.sortClasses['status']"</th>
										<th ng-click="vm.sort('created_on')">Created <span class="text-muted" ng-class="vm.sortClasses['created_on']"</th>
										<th ng-click="vm.sort('initials')">Dev <span class="text-muted" ng-class="vm.sortClasses['initials']"</th>
										<th ng-click="vm.sort('milestone')">Milestone <span class="text-muted" ng-class="vm.sortClasses['milestone']"</th>
										<th ng-click="vm.sort('custom_fields.QA Assigned Person')">QA By <span class="text-muted" ng-class="vm.sortClasses['custom_fields.QA Assigned Person']"</th>
										<th ng-click="vm.sort('custom_fields.QA')">QA <span class="text-muted" ng-class="vm.sortClasses['custom_fields.QA']"</th>
										<th>Desc?</th>
									</tr>
									<tr ng-class="{'bg-success': t.updateSuccess,'bg-danger': t.updateFailure}"
											data-ng-repeat-start="t in filteredTickets = (
											vm.data.tickets	| filter: vm.filterTickets) 
																			| startFrom: (vm.page-1) * vm.options.itemsPerPage
																			| limitTo: vm.options.itemsPerPage">
										<td data-ng-click="vm.toggle(t,'expanded')">
											<span class="glyphicon" data-ng-class="{'glyphicon-minus':t.expanded, 'glyphicon-plus':!t.expanded}"></span>
										</td>
										<td class="text-center" >{{t.number}}</td>
										<td>
											<span class="fa fa-edit hover-icon"
													ng-style="{'color':vm.selectedTickets.indexOf(t)>-1?'green':'lightgrey'}"
													ng-click="vm.toggleTicketSelected(t)" >
											</span>
										</td>
										<td title="{{t.summary}}">{{vm.abbreviate(t.summary,30,20)}}</td>
										<td>
													{{t.status}}
										</td>
										<td>{{t.created_on | date:'dd MMM yy'}}</td>
										<td title="{{vm.getFromList(t.assigned_to_id,vm.data.users,'id','login')}}">
													{{vm.getFromList(t.assigned_to_id,vm.data.users,'id','initials') || '--'}}
										</td>
										<td title="{{vm.getFromList(t.milestone_id,vm.data.milestones,'id','title')}}">
													{{vm.getFromList(t.milestone_id,vm.data.milestones,'id','initials') || '--'}}
										</td>
										<td title="{{t.custom_fields['QA Assigned Person']}}">
													{{vm.getInitials(t.custom_fields['QA Assigned Person'] || '--')}}
										</td>
										<td>{{t.custom_fields['QA']}}</td>
										<td ><span class="glyphicon" data-ng-click="vm.parseDescription(t)"
												data-ng-class="{'glyphicon-ok': vm.isValidTicket(t), 'glyphicon-remove': !vm.isValidTicket(t), 
																		'text-success': vm.isValidTicket(t), 'text-danger': !vm.isValidTicket(t)}">
												</span>
										</td>
									</tr>
									<tr data-ng-if="t.expanded" data-ng-repeat-end>
										<td></td>
										<td colspan="6">
											<span click-to-edit="t.description" test="'testVal'" 
														on-value-change="vm.updateTicket" value-change-parms="[t,'description','@newVal','@oldVal']"></click-to-edit>
										</td> 
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	    <!-- Scripts -->
		<script src="js/jquery-2.0.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="js/angular-pageslide-directive.min.js" charset="utf-8"></script>
    <script src="js/localforage.js" charset="utf-8"></script>
    <script src="js/angular-localForage.js" charset="utf-8"></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js" charset="utf-8"></script>
    <script src="ngDirectiveModule.js" charset="utf-8"></script>
    <script src="assembla.js" charset="utf-8"></script>
    <script src="assemblaService.js" charset="utf-8"></script>
    <script src="assemblaOptionsService.js" charset="utf-8"></script>

  </body>
</html>
