.hover-btn {
  cursor: pointer;
  -webkit-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  padding: 5px 5px 5px 5px;
}
.hover-btn:hover {
  cursor: pointer; 
	background: #c7d0d6;
  background-image: -webkit-linear-gradient(top, #c7d0d6, #979fa3);
  -webkit-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
 }
.hover-btn span {
	visibility: hidden;
}
.hover-btn:hover span {
	visibility: visible;
}
.selected {
	background-color: lightgrey;
}
 
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}
[ng-click], [data-ng-click] {
	cursor: pointer;
}

[ng-click], [data-ng-click] {
	cursor: pointer;
}

.pagination {
	margin-top: 0;
}
.hover-icon {
	font-weight: bold;
	}
.hover-icon:hover {
	color: black !important;
	font-weight: bold;
}
.invisible {
	visibility: hidden;
}
