<!DOCTYPE html>
<html lang='en' data-ng-app="assembla">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Assembla Extension">
    <meta name="author" content="Eric Griffith">

    <title>Assembla API Extension</title>

	<!-- Cascading Style Sheets -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
	<link href="assembla.css" rel="stylesheet" media="screen">
  </head>
  <body data-ng-controller="assemblaController as vm">
		<div pageslide ps-side="left" ps-open="vm.showTools" 
					ps-auto-close="true" ps-class="panel"  style="background-color:whitesmoke"
					ng-include="'assembla_toolsDiv.html'">
		</div>
    <div class="container">
			<div class="row">
				<div id="main" class="col-md-12">
					<div class="row" id="heading">
						<div class="col-md-6">
							<h1>{{vm.data.selectedSpace.name}}</h1>
						</div>
						<div class="col-md-offset-5 col-md-1" style="vertical-align:middle;">
							<br/>
							<button class="btn btn-default" ng-click="vm.showTools=!vm.showTools">
								<span class="hover-icon fa fa-sliders text-muted"></span>
							</button>
						</div>
					</div>
					<div class='row' id='paginationRow'>
						<div class="col-md-2" id="perPage">
							<div class="input-group">
								<input type='number' class="form-control" ng-model-options="{debounce:1000}" ng-change="vm.optionChange()" ng-model="vm.options.itemsPerPage" />
								<span class='input-group-addon'><span class="fa fa-ticket"></span>/p</span>
							</div>
						</div>
						<div class="col-md-7" id="pagination">
							<pagination total-items="filteredTickets.length" ng-model="vm.page" max-size='8'
													boundary-links="true" items-per-page="vm.options.itemsPerPage" rotate="true">
							</pagination>
						</div>
						<div class="col-md-3" id="ticketCount">
							ticket count: 
							<span data-ng-if="filteredTickets.length!=vm.visibleTicketsCount()">
								<span class="badge">{{filteredTickets.length}}</span> 
								of 
							</span>
							<span class="badge">{{vm.visibleTicketsCount()}}</span>
						</div>
					</div>
					<!-- Filter/update bar above the table -->
					<div ng-include="!vm.selectedTickets || vm.selectedTickets.length==0 
															? 'assembla_filterDiv.html'
															: 'assembla_updateDiv.html'"></div>
					<div class="row" id="ticketstable" >
						<div class="col-md-12">
							<table class="table" ng-hide="vm.data.tickets.length==0">
								<tbody>
									<tr>
										<th></th>
										<th ng-click="vm.sort('number')">
											Number <span class="text-muted" ng-class="vm.sortClasses['number']"></span>
										</th>
										<th></th>
										<th>
											Summary
											&nbsp;
											<span class="dropdown" dropdown id="summarySettings">
												<span class="dropdown-toggle" dropdown-toggle>
													<span class="fa fa-gear hover-icon" title="Set summary abbreviation options"></span>
												</span>
												<div class="dropdown-menu list-group" style="left:-50px;"
														ng-style="{'width':vm.options.summaryOptions.isTruncated?300:100}">
														<form class="form form-inline" prevent-default> 
																<label>&nbsp; &nbsp; Abbreviate: </label>
																<strong><span prevent-default	class="fa fa-2x" style="position: relative;top:4px;"
																	ng-class="{'fa-toggle-on':vm.options.summaryOptions.isTruncated,
																						'fa-toggle-off':!vm.options.summaryOptions.isTruncated,
																						'text-success':vm.options.summaryOptions.isTruncated,
																						'text-muted':!vm.options.summaryOptions.isTruncated}"
																		ng-click="vm.options.summaryOptions.isTruncated=!vm.options.summaryOptions.isTruncated" >
																</span></strong>
																&nbsp;
																<input type="number" style="width:60px" title="Number of characters before the ellipsis"
																	ng-model-options="{debounce:500}"
																	ng-if="vm.options.summaryOptions.isTruncated"
																	ng-model="vm.options.summaryOptions.startLength">
																<input type="number" style="width:60px" title="Number of characters after the ellipsis"
																	ng-model-options="{debounce:500}"
																	ng-if="vm.options.summaryOptions.isTruncated"
																	ng-model="vm.options.summaryOptions.endLength">
														</span>
												</div>		
											</span>

										</th>
										<th ng-if="!vm.options.hiddenColumns['Status']" ng-click="vm.sort('status')">
											Status <span class="text-muted" ng-class="vm.sortClasses['status']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['Created']" ng-click="vm.sort('created_on')">
											Created <span class="text-muted" ng-class="vm.sortClasses['created_on']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['Updated']" ng-click="vm.sort('updated_at')">
											Updated <span class="text-muted" ng-class="vm.sortClasses['updated_at']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['Dev']" ng-click="vm.sort('assigned_to_id')">
											Dev <span class="text-muted" ng-class="vm.sortClasses['assigned_to_id']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['Milestone']" ng-click="vm.sort('milestone')" title="Milestone">
											MS <span class="text-muted" ng-class="vm.sortClasses['milestone']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['QA By']" ng-click="vm.sort('custom_fields.QA Assigned Person')">
											QA&nbsp;By <span class="text-muted" ng-class="vm.sortClasses['custom_fields.QA Assigned Person']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['QA']" ng-click="vm.sort('custom_fields.QA')">
											QA <span class="text-muted" ng-class="vm.sortClasses['custom_fields.QA']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['Component']" ng-click="vm.sort('custom_fields.Component')">
											Component <span class="text-muted" ng-class="vm.sortClasses['custom_fields.Component']"></span>
										</th>
										<th ng-if="!vm.options.hiddenColumns['Desc?']">
											Desc?
										</th>
										<th>
											<span class="dropdown" dropdown id="columnSettings">
												<span class="dropdown-toggle" dropdown-toggle>
													<span class="fa fa-gear hover-icon" title="Choose columns to show/hide"></span>
												</span>
												<div class="dropdown-menu list-group text-center" style="left:-300px; width:550px">
														&nbsp;
														<span ng-repeat="(ck,isHidden) in vm.options.hiddenColumns"> 
																<span class="label" prevent-default	ng-class="{'label-success':!isHidden,'label-default':isHidden}"
																ng-click="vm.options.hiddenColumns[ck]=!vm.options.hiddenColumns[ck]; vm.optionChange()" >
																	{{ck}}
																</span>
																&nbsp;
														</span>
												</div>		
											</span>
										</th>

									</tr>
									<tr ng-class="{'bg-success': t.updateSuccess,'bg-danger': t.updateFailure}"
											ng-init="vm.page=1"
											data-ng-repeat-start="t in filteredTickets = (
											vm.data.tickets	| filter: vm.filterTickets) 
																			| startFrom: (vm.page-1) * vm.options.itemsPerPage
																			| limitTo: vm.options.itemsPerPage">
										<td data-ng-click="vm.toggleTicketDetails(t,'Details')">
											<span class="glyphicon" data-ng-class="{'glyphicon-minus':t.activeTab, 'glyphicon-plus':!t.activeTab}"></span>
										</td>
										<td class="text-center" >{{::t.number}}</td>
										<td>
											<span class="fa fa-edit hover-icon"
													ng-style="{'color':vm.selectedTickets.indexOf(t)>-1?'green':'lightgrey'}"
													ng-click="vm.toggleTicketSelected(t)" >
											</span>
										</td>
										<td ng-if="vm.options.summaryOptions.isTruncated" title="{{::t.summary}}">
											{{::vm.abbreviate(t.summary,
														vm.options.summaryOptions.startLength,vm.options.summaryOptions.endLength)}}
										</td>
										<td ng-if="!vm.options.summaryOptions.isTruncated">
											{{::t.summary}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['Status']">
													{{t.status}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['Created']">
											{{::t.created_on | date:'dd&nbsp;MMM&nbsp;yy'}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['Updated']">
											{{::t.updated_at | date:'dd&nbsp;MMM&nbsp;yy'}}
										</td>
										<td  ng-if="!vm.options.hiddenColumns['Dev']"
												title="{{vm.data.users[t.assigned_to_id].login}}">
													{{vm.data.users[t.assigned_to_id].initials || '--'}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['Milestone']" 
												title="{{vm.data.milestones[t.milestone_id].title}}">
													{{vm.data.milestones[t.milestone_id].initials || '--'}}
										</td>
										<td  ng-if="!vm.options.hiddenColumns['QA By']"
												title="{{t.custom_fields['QA Assigned Person']}}">
													{{vm.getInitials(t.custom_fields['QA Assigned Person'] || '--')}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['QA']">
											{{t.custom_fields['QA']}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['Component']">
											{{t.custom_fields['Component']}}
										</td>
										<td ng-if="!vm.options.hiddenColumns['Desc?']" ><span class="glyphicon" data-ng-click="vm.parseDescription(t)"
												data-ng-class="{'glyphicon-ok': vm.isValidTicket(t), 'glyphicon-remove': !vm.isValidTicket(t), 
																		'text-success': vm.isValidTicket(t), 'text-danger': !vm.isValidTicket(t)}">
												</span>
										</td>
										<td>
											<span class="dropdown" dropdown>
												<span class="fa fa-lg fa-comments-o icon-badgeable hover-icon" ng-click="vm.toggleTicketDetails(t,'Comments')"
													title="Show/hide comments">
													<span class="icon-badge">{{vm.data.comments[t.id].length}}</span>
												</span>
												<!--span class="list-group dropdown-menu">
													<a href class="list-group-item" ng-click="vm.getComments(t.number)">Refresh Comments</a>
													<a href class="list-group-item" ng-click="vm.addComment(t.number)">Add a Comment</a>
													<a href class="list-group-item" ng-click="vm.viewComments(t.number)">View Comments</a>
												</span-->
											</span>
										</td>
									</tr>
									<tr data-ng-if="t.activeTab" data-ng-repeat-end>
										<td></td>
										<td colspan="6">
											<tabset>
												<tab heading="Details" active="t.activeTab=='Details'" ng-click="t.activeTab='Details'">
													<span click-to-edit="t.description" test="'testVal'" 
														on-value-change="vm.updateTicket" value-change-parms="[t,'description','@newVal','@oldVal']"></span>
												</tab>
												<tab heading="Comments"  active="t.activeTab=='Comments'" ng-click="t.activeTab='Comments'">
													<span ng-if="!vm.data.comments">No comments yet</span>
													<table class="table table-compressed" ng-if="vm.data.comments">
														<tr ng-show="showCommentEntry">
															<td>
																<button class="btn btn-default btn-sm"
																	ng-click="vm.saveComment(t,comment); showCommentEntry=!showCommentEntry">Save Comment</button>
															</td>
															<td>
																<textarea cols="90" ng-model="comment"></textarea>
															</td>
														</tr>
														<tr ng-hide="showCommentEntry">
															<td colspan="3">
																<button class="btn btn-default btn-sm"
																	ng-click="showCommentEntry=!showCommentEntry;">Add Comment</button>
																<button class="btn btn-default btn-sm"
																	ng-click="vm.getTicketComments(t)">Refresh</button>
															</td>
															<td>
															</td>
														</tr>
														<tr ng-repeat="c in vm.data.comments[t.id]|orderBy:'-created_on'">
															<td>{{c.created_on|date:'ddMMMyy&nbsp;HH:mm'}}</td>
															<td>
																<table>
																	<tr ng-if="c.comment.trim()>''">
																		<td>{{c.comment}}</td>
																	</tr>
																	<tr ng-if="c.ticket_changes.trim()>''">
																		<td><em>{{vm.parseTicketChanges(c.ticket_changes)}}</em></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</tab>
										</td> 
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	    <!-- Scripts -->
		<script src="js/jquery-2.0.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="js/angular-pageslide-directive.min.js" charset="utf-8"></script>
    <script src="js/localforage.js" charset="utf-8"></script>
    <script src="js/angular-localForage.js" charset="utf-8"></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js" charset="utf-8"></script>
    <script src="ngDirectiveModule.js" charset="utf-8"></script>
    <script src="assemblaMain.js" charset="utf-8"></script>
    <script src="assembla.js" charset="utf-8"></script>
    <script src="assemblaService.js" charset="utf-8"></script>
    <script src="assemblaPersistenceService.js" charset="utf-8"></script>

  </body>
</html>
