<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="assembla.css" rel="stylesheet" media="screen">
</head>
<body ng-app="assembla" style="width:800px">
	<div ng-controller="popupController as pu">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover">
						<tr>
							<th>Author</th>
							<th>Date</th>
							<th>Message</th>
							<th></th>
						</tr>
						<tr class="hover-show" ng-repeat="m in pu.bgPage.userMentions" ng-click="pu.gotoUrl(m.link)">
							<td><small>{{m.author_id | authorInitials: pu.bgPage.users}}</small></td>
							<td><small>{{m.created_at  | date: 'yy-MM-dd hh:mm'}}</small></td>
							<td style="width:530px"><small>{{m.message}}</small></td>
							<td>
								<button type="button" class="close blur-hide" prevent-default ng-click="pu.markAsRead(m)">
									<span aria-hidden="true">&times;</span>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-2.0.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js" charset="utf-8"></script>
  <script src="js/angular-pageslide-directive.min.js" charset="utf-8"></script>
	<script src="js/localforage.js" charset="utf-8"></script>
	<script src="js/angular-localForage.js" charset="utf-8"></script>
	<script src="js/ui-bootstrap-tpls-0.12.1.min.js" charset="utf-8"></script>
	<script src="ngDirectiveModule.js" charset="utf-8"></script>
	<script src="assemblaMain.js" charset="utf-8"></script>
	<script src="assemblaService.js" charset="utf-8"></script>
	<script src="assemblaPersistenceService.js" charset="utf-8"></script>
	<script src="popup.js"></script>
</body>
</html>
